.toolbar-dark .rpv-core__toolbar {
  background-color: #333;
  color: white;
}

.toolbar-dark .rpv-core__toolbar-button {
  color: white;
}

.toolbar-light .rpv-core__toolbar {
  background-color: #fff;
  color: black;
}

.toolbar-light .rpv-core__toolbar-button {
  color: black;
}
